﻿/* PESTAÑA TRABAJOS: Marca estilo (display: block) para luego eliminarlo al cambiarlo a display: none; para pantallas chicas */
.responsive {
    display: block;
}
/* IMAGENES EN LA PAGINA: Marca estilo (display: block) para luego eliminarlo al cambiarlo a display: none; para celulares */
.responsive_img {
    display: block;
}


@media screen and (max-width: 1600px) {
    .equipo {
        min-height: 650px !important;
            }
}
@media screen and (max-width: 1200px) {
    .equipo {
        min-width: 100% !important;
        min-height: 200px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .texto_equipo {
        width: 70% !important;
        float: left !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
        padding-left: 10px !important;
        border-top: none !important;
    }
    .foto_equipo {
        width: 30% !important;
        float: left !important;
    }
    .pie_interior_izquierdo {
        min-width: 100% !important;
        margin-top: 50px !important;
        margin-bottom: 30px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        text-align: center !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .pie_interior {
        min-width: 100% !important;
        margin-top: 50px !important;
        margin-bottom: 30px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        text-align: center !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .borde {
        height: 150px !important;
    }
    .borde_interior {
        min-width: 100%;
        margin: 0 !important;
        text-align: center !important;
    }
    .borde_interior_izquierdo {
        position: relative !important;
        float: left !important;
        min-width: 100%;
        margin: 0 !important;
        text-align: center !important;
    }
}
@media screen and (max-width: 1100px) {
    .responsive {
        display: none;
    }
    .trabajos {
        width: 100% !important;
    }
    .trabajos_interior {
        max-width: 100% !important;
    }
}
@media screen and (max-width: 700px) {
    h1.titulo_cabecera {
        font-size: 2.5rem !important;
    }
    .texto_equipo {
        width: 100% !important;
        margin-top: 10px !important;
        padding-top: 10px !important;
        padding-left: 0px !important;
        border-top: 0.5px solid gainsboro !important;
    }
    .foto_equipo {
        width: 100% !important;
    }
    .borde {
        height: 200px !important;
    }
}
@media screen and (max-width: 440px) {
    .responsive_img {
        display: none;
    }
    #logo_cabecera {
        width: 100% !important;
        height: auto !important;
    }
}

/* Acciona para que aparezca el icono de menu en celulares */
@media screen and (max-width: 700px) {
    li.nav {
        display: none !important;
    }
    li.nav_inicio {
        display: block !important;
        width: 80%;
        float: left;
        text-align: left !important;
        margin-left: 0px;
    }
    li.icono {
        display: block !important;
        width: 20%;
    }
    li.contacto_cabecera_primero {
        display: none !important;
    }
    li.contacto_cabecera {
        display: none !important;
    }
}

/* Acciona para que cambie de tamaño y lo coloque debajo de inicio las opciones que se ocultaron en celulares */
@media screen and (max-width: 700px) {
    li.icono_responsivo {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block !important;
        width: 20%;
        color: white;
        text-align: center;
        padding: 16px;
    }
    li.icono_responsivo:hover {
        background-color: #800000;
        transition: 0.5s;
        cursor: pointer;
    }
    li.nav_responsivo {
        float: left !important;
        display: block !important;
        width: 100%;
        text-align: left !important;
    }
} 