html {
    scroll-behavior: smooth;
}

/* LINK */
a.link {
    color: white;
    background-color: transparent;
    text-decoration: none;
    transition: 0.5s;
}
a.link:hover {
    color: #c7c7c7;
    background-color: transparent;
    text-decoration: none;
    transition: 0.5s;
}
a.link:active {
    color: #c7c7c7;
    background-color: transparent;
    text-decoration: none;
}

/* ELEMENTOS */
h1.titulo_cabecera {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 65px;
    font-weight: bolder;
}
h4.titulo_pie {
    font-size: 20px;
    margin-bottom: 30px;
}
h4.titulo_borde {
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0 !important;
}
h5.titulo_cabecera {
    color: #c7c7c7;
    font-weight: 600;
    margin-bottom: 30px;
}
p.titulo {
    font-size: 18px;
    color: #586069;
}
p.texto {
    font-size: 15px;
    color: #586069;
}
p.texto_pie {
    font-size: 15px;
}
p.texto_borde {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0 !important;
}
span.texto {
    font-size: 15px;
    color: #586069;
}

/* Navegador superior */
ul.nav {
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
    outline: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: #990000;
}
li.nav_inicio {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 16px;
    margin-left: 5%;
    transition: 0.5s;
}
li.nav_inicio:hover {
    background-color: #800000;
    transition: 0.5s;
}
li.nav {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    transition: 0.5s;
}
li.nav:hover {
    background-color: #800000;
    transition: 0.5s;
}
li.icono {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    text-align: center;
    padding: 16px;
    cursor: pointer;
}
li.icono:hover {
    background-color: #800000;
    transition: 0.5s;
    cursor: pointer;
}
li.nav_responsivo {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    cursor: pointer;
}
li.nav_responsivo:hover {
    background-color: #800000;
    transition: 0.5s;
    cursor: pointer;
}
li.contacto_cabecera {
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding: 14px 10px;
}
div.contenedor_iconos{
    display: inline-block;
    position: absolute;
    right: 0px;
    margin-right: 5%;
}

/* CLASES DE DIV */
/* CABECERA */
div.cabecera {
    margin: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #8c0000;
}
div.cabecera_medio {
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
div.titulo {
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
    color: black;
}
/* MEDIO */
div.medio {
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 20px;
}
/* QUIENES SOMOS */
div.equipo {
    text-align: center;
    float: left;
    max-width: 23%;
    min-height: 510px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    color: black;
    border: solid 1px gainsboro;
    border-radius: 5px;
    box-shadow: rgba(27,31,35,.15) 0 1px 5px;
}
div.texto_equipo_q {
    text-align: left;
}
div.texto_equipo {
    text-align: left;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 0.5px solid gainsboro;
}
/* TRABAJOS */
div.trabajos {
    float: left;
    width: 50%;
    padding: 20px;
}
div.trabajos_interior {
    display: block;
    max-width: 600px;
    min-height: 150px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border: solid 1px white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
div.trabajos_interior.active {
    color: black;
}
div.trabajos_interior:hover {
    transition: 0.5s;
    border: solid 1px gainsboro;
    border-radius: 5px;
    box-shadow: rgba(27,31,35,.15) 0 1px 10px;
}
div.trabajos_fotos {
    display: none;
    float: left;
    width: 40%;
    margin: 25px;
    border-radius: 10px;
    box-shadow: rgba(27,31,35,.15) 10px 10px 20px;
}
/* PIE Y BORDE INFERIOR */
div.pie {
    overflow: hidden;
	min-height: 400px;
	width: 100%;
	background-color: #333333;
}
div.borde {
    width: 100%;
    height: 54px;
    background-color: #1a1a1a;
}
div.pie_interior_izquierdo {
    height: 100%;
    max-width: 20%;
    float: left;
    text-align: left;
    color: white;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 4%;
    margin-bottom: 5%;
    padding-left: 16px;
}
div.pie_interior {
    height: 100%;
    max-width: 20%;
    float: left;
    text-align: left;
    color: white;
    margin: 5% 4%;
}
div.borde_interior {
    float: left;
    text-align: left;
    color: white;
    padding: 12px 16px;
    margin-left: 5%;
}
div.borde_interior_izquierdo {
    position: absolute;
    right: 0px;
    text-align: left;
    color: white;
    padding: 12px 16px;
    margin-right: 5%;
}
div.iconos {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin-right: 10px;
}

/* IMAGENES */
img.foto_equipo {
    width: 100%;
    border-radius: 5px;
}
img.foto_trabajos {
    height: auto;
    width: 100%;
    border-radius: 10px;
}